In [1]:
import pandas as pd
from datetime import datetime
import glob

# import seaborn as sns
# import matplotlib.pyplot as plt
# import numpy as np
# import geopandas as gpd
# from shapely.geometry import Point
# import folium
# from folium.plugins import MarkerCluster
# from folium.plugins import FastMarkerCluster

### Due to the exchange rates being non uniform in their method of using either USD or the foreign currency in their reporting, conversion must be done to ensure all currencies are shown in the USD.  
Represented currencies are:
Oceania - Australia * AUD
Africa - South Africa ZAR
Asia - Japan JPY
Canada - Canada CAD
Mexico - Mexico MXN
South America - Brazil BRL
Middle East - dollar currency/pegged at 3.5SAR to the USD
Europe - Sterling * /Euro *
Caribbean - BSD pegged to USD 1:1

In [2]:
currency_df = pd.DataFrame()

for name in glob.glob('../data/EX*.csv'):
    current_df = pd.read_csv(name)
    current_df.columns = ['date', 'ex_us']
    current_df['country'] = name.split('_')[1]
    current_df['Regions'] = name.split('_')[3]
    if name.split('_')[1] == "saudi arabia":
        current_df['ex_us'] = 1
    if name.split('_')[2] == "convert":
        current_df['ex_us'] = 1/current_df['ex_us']
        currency_df = currency_df.append(current_df, ignore_index=True).reset_index(drop=True)
    else:
        currency_df = currency_df.append(current_df, ignore_index=True).reset_index(drop=True)
        
print(currency_df.shape)
print(currency_df.head())

(2926, 4)
         date   ex_us    country  Regions
0  1996-01-01  0.7417  australia  Oceania
1  1996-02-01  0.7556  australia  Oceania
2  1996-03-01  0.7714  australia  Oceania
3  1996-04-01  0.7857  australia  Oceania
4  1996-05-01  0.7970  australia  Oceania

In [5]:
currency_df.head(10)

         date   ex_us    country  Regions
0  1996-01-01  0.7417  australia  Oceania
1  1996-02-01  0.7556  australia  Oceania
2  1996-03-01  0.7714  australia  Oceania
3  1996-04-01  0.7857  australia  Oceania
4  1996-05-01  0.7970  australia  Oceania
5  1996-06-01  0.7912  australia  Oceania
6  1996-07-01  0.7897  australia  Oceania
7  1996-08-01  0.7830  australia  Oceania
8  1996-09-01  0.7928  australia  Oceania
9  1996-10-01  0.7918  australia  Oceania

In [4]:
currency_df.to_csv("../data/currency.csv")