In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

### Data was manually scraped since there weren't that many pages or fields for copy into a spreadsheet and preliminary cleaning was performed that included removing subtotals and totals lines across both axes. Then each sheet is appended to a the outbound_df dataframe with a year column added and taken from a wide table to a tall format with melt. In addition, prior to 2000, the numbers were reported in thousands so the math was done so all numbers would be comparable.

In [2]:
outbound_df = pd.DataFrame()

for year in range(1996,2020):
    if year < 2000:
        current_df = pd.read_excel('../data/outbound.xlsx', sheet_name = str(year) + '_out')
        current_df = pd.melt(current_df, id_vars=['Regions'], var_name = 'month', value_name = 'travelers')
        current_df['year'] = year
        current_df['travelers'] = current_df['travelers'] * 1000
        outbound_df = outbound_df.append(current_df, ignore_index=True)
    else:
        current_df = pd.read_excel('../data/outbound.xlsx', sheet_name = str(year) + '_out')
        current_df = pd.melt(current_df, id_vars=['Regions'], var_name = 'month', value_name = 'travelers')
        current_df['year'] = year
        outbound_df = outbound_df.append(current_df, ignore_index=True)
        
outbound_df = outbound_df.reset_index(drop=True)

print(outbound_df.head())
print(outbound_df.shape)

           Regions month  travelers  year
0           Africa   Jan    10300.0  1996
1             Asia   Jan   259600.0  1996
2           Canada   Jan   156200.0  1996
3        Caribbean   Jan   312800.0  1996
4  Central America   Jan    85600.0  1996
(2880, 4)

In [3]:
# changes date from 2 columns of month and year to one column date to match other files

outbound_df['date'] = ''


for i in range(len(outbound_df['month'])):
    temp = outbound_df.month[i].strip() + ' ' + str(outbound_df.year[i])
    outbound_df['date'][i] = datetime.strptime(temp, '%b %Y').strftime('%Y-%m-01')

outbound_df = outbound_df.drop(columns = ['month', 'year'])

outbound_df.head(10)

C:\Users\starr\anaconda3\envs\geo\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Regions  travelers        date
0           Africa    10300.0  1996-01-01
1             Asia   259600.0  1996-01-01
2           Canada   156200.0  1996-01-01
3        Caribbean   312800.0  1996-01-01
4  Central America    85600.0  1996-01-01
5           Europe   500100.0  1996-01-01
6           Mexico   317500.0  1996-01-01
7      Middle East    31600.0  1996-01-01
8          Oceania    57200.0  1996-01-01
9    South America   117900.0  1996-01-01

In [4]:
outbound_df.to_csv("../data/outbound.csv", index = False)