In [2]:
import pandas as pd

In [3]:
unrate = pd.read_csv('../data/UNRATE.csv')

unrate.head()

         DATE  UNRATE
0  1996-01-01     5.6
1  1996-02-01     5.5
2  1996-03-01     5.5
3  1996-04-01     5.6
4  1996-05-01     5.6